Statut;Jour;Pièce;Document;Compte général;Compte auxiliaire;Libellé;Débit;Crédit;Date de l'échéance;Poste analytique;Documents associés
{% for line in data %}
    {{ line.status }};{{ line.date }};{{ line.piece }};;{{ line.general_account }};{{ line.aux_account }};{{ line.lib|escape }};{% if line.debit %}{{ line.debit | number_format(2, ',', ' ') }}{% endif %};{% if line.credit %}{{ line.credit | number_format(2, ',', ' ') }}{% endif %};{{ line.document }};{{ line.poste }};{{ line.associated_docs }}
{% endfor %}