{% extends 'base.html.twig' %}

{% block title %}Modetic - Rapport comptable Routine Expeditions{% endblock %}

{% block body %}

        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-lg-6">
                    <h1>Rapport comptable Routine Expeditions</h1>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-end">
                    <form method="post" action="" class="form-inline">
                        <select name="storeId" class="form-control form-control-sm" required>
                            <option value="" selected disabled>Sélectionnez un magasin</option>
                            {% for store in stores %}
                                <option value="{{ store.store_id }}" {% if store.store_id == storeId %}selected{% endif %}>{{ store.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group ml-2">
                            <input type="text" class="form-control-sm form-control input-date-month" name="from" value="{{ from | date_modify("+2 hours") | date("Y-m") }}" autocomplete="off" />
                            <button class="btn btn-primary btn-sm ml-2" type="submit">OK</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-info">
                        <th>Statut</th>
                        <th>Jour</th>
                        <th>Pièce</th>
                        <th>Document</th>
                        <th>Compte général</th>
                        <th>Compte auxiliaire</th>
                        <th>Libellé</th>
                        <th>Débit</th>
                        <th>Crédit</th>
                        <th>Date de l'échéance</th>
                        <th>Poste analytique</th>
                        <th>Documents associés</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in data %}
                    <tr class="{% if line.type == "avoir" %}table-info{% endif %}">
                        <td class="text-right">{{ line.status }}</td>
                        <td class="text-right">{{ line.date }}</td>
                        <td class="">{{ line.piece }}</td>
                        <td class="">{{ line.document }}</td>
                        <td class="">{{ line.general_account }}</td>
                        <td class="">{{ line.aux_account }}</td>
                        <td class="">{{ line.lib }}</td>
                        <td class="text-right">{% if line.debit %}{{ line.debit | number_format(2, ',', ' ') }}€{% endif %}</td>
                        <td class="text-right">{% if line.credit %}{{ line.credit | number_format(2, ',', ' ') }}€{% endif %}</td>
                        <td class="">{{ line.document }}</td>
                        <td class="">{{ line.poste }}</td>
                        <td class="">{{ line.associated_docs }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <div class="row mt-3">
                <div class="col-12 d-lg-flex justify-content-lg-end">
                    <a class="btn btn-secondary mr-2" href="/report/comptableProExpedition/excel/from/{{ from | date_modify("+2 hours") | date("Y-m-d") }}/to/{{ to | date_modify("+2 hours") | date("Y-m-d") }}/store/{{ storeId }}"><i class="fas fa-file-excel"></i> Export Excel</a>
                    <a class="btn btn-outline-primary" href="/report/comptableProExpedition/export/from/{{ from | date_modify("+2 hours") | date("Y-m-d") }}/to/{{ to | date_modify("+2 hours") | date("Y-m-d") }}/store/{{ storeId }}"><i class="fas fa-table"></i> Export CSV</a>
                </div>
            </div>
        </div>

{% endblock %}
