{% extends 'base.html.twig' %}

{% block title %}Modetic - Rapport comptable{% endblock %}

{% block body %}

        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-lg-6">
                    <h1>Rapport comptable</h1>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-end">
                    <form method="post" action="" class="form-inline">
                        <div class="input-daterange input-group" id="datepicker">
                            <label class="input-group-addon mx-2 ">Du</label>
                            <input type="text" class="form-control-sm form-control" name="from" value="{{ from | date_modify("+2 hours") | date("Y-m-d") }}" autocomplete="off" />
                            <label class="input-group-addon mx-2 ">au</label>
                            <input type="text" class="form-control-sm form-control" name="to" value="{{ to | date_modify("+2 hours") | date("Y-m-d") }}" autocomplete="off" />
                            <button class="btn btn-primary btn-sm ml-2" type="submit">OK</button>
                        </div>
                    </form>
                </div>
            </div>

                <table class="table table-bordered table-striped table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="bg-warning">Période</th>
                        <th class="bg-warning">Canal de distribution</th>
                        <th class="bg-warning">Type</th>
                        <th class="bg-warning">Numéro Facture/Avoir</th>
                        <th class="bg-warning">Pays livraison</th>
                        <th class="bg-warning">QTY type Manufacturé</th>
                        <th class="bg-warning">QTY type Fini</th>
                        <th class="bg-warning">QTY Frais de ports</th>
                        <th class="bg-warning">QTY Bon cadeau</th>
                        <th class="bg-warning">Facturé TTC</th>
                        <th class="bg-primary">CB</th>
                        <th class="bg-primary">Virements</th>
                        <th class="bg-primary">Espèces</th>
                        <th class="bg-primary">Chèques</th>
                        <th class="bg-primary">Paypal</th>
                        <th class="bg-primary">Monnaie locale</th>
                        <th class="bg-primary">Partenaires</th>
                        <th class="bg-primary">Chèques cadeaux</th>
                        <th class="bg-danger">CA HT Type Manufacturé France</th>
                        <th class="bg-danger">CA HT Type Manufacturé UE</th>
                        <th class="bg-danger">CA HT Type Manufacturé Export</th>
                        <th class="bg-info">CA HT Type Fini France</th>
                        <th class="bg-info">CA HT Type Fini UE</th>
                        <th class="bg-info">CA HT Type Fini Export</th>
                        <th class="bg-success">CA HT Port France</th>
                        <th class="bg-success">CA HT Port UE</th>
                        <th class="bg-success">CA HT Port Export</th>
                        <th>CA HT France</th>
                        <th>CA HT UE</th>
                        <th>CA HT Export</th>
                        <th>TVA France</th>
                        <th>TVA UE</th>
                        <th>TVA Export</th>
                        <th>CA TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for line in data %}
                    <tr>
                        <td class="table-warning">{{ line.date | date_modify("+2 hours") | date("d-m-Y") }}</td>
                        <td class="table-warning">{{ line.store_name }}</td>
                        <td class="table-warning">{{ line.type }}</td>
                        <td class="table-warning">{{ line.increment_id }}</td>
                        <td class="table-warning">{%  if (line.country_id) %}<span class="flag-icon flag-icon-{{ line.country_id | lower }}"></span> {{ line.fr_name }}{% endif %}</td>
                        <td class="table-warning td-number">{{ line.qty_man | default(0)}}</td>
                        <td class="table-warning td-number">{{ line.qty_fini | default(0)}}</td>
                        <td class="table-warning td-number">{{ line.qty_fdp | default(0)}}</td>
                        <td class="table-warning td-number">{{ line.qty_giftcert | default(0) }}</td>
                        <td class="table-warning td-number">{{ line.total | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_cb | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_vir | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_ca | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_ch | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_pa | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_mlc | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_partners | number_format(2, ',', ' ') }}€</td>
                        <td class="table-primary td-number">{{ line.total_paid_ugiftcert | number_format(2, ',', ' ') }}€</td>
                        <td class="table-danger td-number">{{ line.total_ca_man_fr | number_format(2, ',', ' ') }}€</td>
                        <td class="table-danger td-number">{{ line.total_ca_man_ue | number_format(2, ',', ' ') }}€</td>
                        <td class="table-danger td-number">{{ line.total_ca_man_autre | number_format(2, ',', ' ') }}€</td>
                        <td class="table-info td-number">{{ line.total_ca_fini_fr | number_format(2, ',', ' ') }}€</td>
                        <td class="table-info td-number">{{ line.total_ca_fini_ue | number_format(2, ',', ' ') }}€</td>
                        <td class="table-info td-number">{{ line.total_ca_fini_autre | number_format(2, ',', ' ') }}€</td>
                        <td class="table-success td-number">{{ line.total_fdp_fr | number_format(2, ',', ' ') }}€</td>
                        <td class="table-success td-number">{{ line.total_fdp_ue | number_format(2, ',', ' ') }}€</td>
                        <td class="table-success td-number">{{ line.total_fdp_autre | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total_ca_fr | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total_ca_ue | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total_ca_autre | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total_tax_fr | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total_tax_ue | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total_tax_autre | number_format(2, ',', ' ') }}€</td>
                        <td class="td-number">{{ line.total | number_format(2, ',', ' ') }}€</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            <div class="row mt-3">
                <div class="col-12 d-lg-flex justify-content-lg-end">
                    <a class="btn btn-outline-primary" href="/report/comptable/export/from/{{ from | date_modify("+2 hours") | date("Y-m-d") }}/to/{{ to | date_modify("+2 hours") | date("Y-m-d") }}"><i class="fas fa-table"></i> Exporter</a>
                </div>
            </div>
        </div>

{% endblock %}
