@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/startbootstrap-sb-admin/scss/sb-admin";
@import "../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker";
@import "../../node_modules/datatables/media/css/jquery.dataTables";
@import "../../node_modules/flag-icon-css/sass/flag-icon";

body {
  font-size: 12px;
}

.custom-select {
  background: none;
}

.sidebar {

  width: auto !important;
  transition: width 0.5s ease-in-out;

  .nav-item {

    .nav-link {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #777;
      height:42px;

      .fas {
        font-size: 21px;
      }

      span {
        white-space: nowrap;
      }

      @include media-breakpoint-down(md) {
        width: auto;
        span {
          display: none;
        }
      }

    }

  }

  &.expanded {
    .nav-link {
      span {
        display: inline !important;
      }
    }
  }

  &.collapsed {
    .nav-link {
      width: auto !important;
      span {
        display: none !important;
      }
    }
  }

}

.dataTable {

  td {
    white-space: nowrap;
  }

}