Canal de distribution;Numéro Commande;Date Commande;Numéro Facture;Date Facture;Pays livraison;Nom;Référence;Type;Prix d'origine;Total TTC
{% for line in data %}
{{ line.store_name }};{{ line.increment_id }};{{ line.date | date_modify("+2 hours") | date("d-m-Y") }};{{ line.invoice_id }};{{ line.invoice_date | date_modify("+2 hours") | date("d-m-Y") }};{{ line.fr_name }};{{ line.name }};{{ line.sku }};{{ line.type_value }};{{ line.original_price | number_format(2, ',', ' ') }};{{ line.price_incl_tax | number_format(2, ',', ' ') }}
{% endfor %}