{% extends 'base.html.twig' %}

{% block title %}Modetic - Rapport bilan facturation{% endblock %}

{% block body %}
    
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-lg-6">
                    <h1>Rapport Bilan Facturation</h1>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-end">
                    <form method="post" action="" class="form-inline">
                        <div class="input-daterange input-group" id="datepicker">
                            <label class="input-group-addon mx-2 ">Du</label>
                            <input type="text" class="form-control-sm form-control" name="from" value="{{ from | date_modify("+2 hours") | date("Y-m-d") }}" autocomplete="off" />
                            <label class="input-group-addon mx-2 ">au</label>
                            <input type="text" class="form-control-sm form-control" name="to" value="{{ to | date_modify("+2 hours") | date("Y-m-d") }}" autocomplete="off" />
                            <button class="btn btn-primary btn-sm ml-2" type="submit">OK</button>
                        </div>
                    </form>
                </div>
            </div>

                <table class="table table-bordered table-striped table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr class="bg-info" >
                        <th>Canal de distribution</th>
                        <th>Numéro Commande</th>
                        <th>Date Commande</th>
                        <th>Numéro Facture</th>
                        <th>Date Facture</th>
                        <th>Pays livraison</th>
                        <th>Nom</th>
                        <th>Référence</th>
                        <th>Type</th>
                        <th>Prix d'origine</th>
                        <th>Total TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for line in data %}
                    <tr>
                        <td>{{ line.store_name }}</td>
                        <td>{{ line.increment_id }}</td>
                        <td>{{ line.date | date_modify("+2 hours") | date("d-m-Y") }}</td>
                        <td>{{ line.invoice_id }}</td>
                        <td>{{ line.invoice_date | date_modify("+2 hours") | date("d-m-Y") }}</td>
                        <td>{% if (line.country_id) %}<span class="flag-icon flag-icon-{{ line.country_id | lower }}"></span> {{ line.fr_name }}{% endif %}</td>
                        <td>{{ line.name }}</td>
                        <td>{{ line.sku }}</td>
                        <td>{{ line.type_value }}</td>
                        <td>{{ line.original_price | number_format(2, ',', ' ') }}€</td>
                        <td>{{ line.price_incl_tax | number_format(2, ',', ' ') }}€</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            <div class="row mt-3">
                <div class="col-12 d-lg-flex justify-content-lg-end">
                    <a class="btn btn-outline-primary" href="/report/bilan/export/from/{{ from | date_modify("+2 hours") | date("Y-m-d") }}/to/{{ to | date_modify("+2 hours") | date("Y-m-d") }}"><i class="fas fa-table"></i> Exporter</a>
                </div>
            </div>
        </div>

{% endblock %}
