<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="/assets/css/modetic.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top justify-content-between align-items-center">

        <a class="navbar-brand mr-1" href="/"><img src="/assets/img/logoadmin.png" alt="Modetic/1083" /></a>
        <span class="text-white">Rapports</span>

    </nav>


    <div id="wrapper">
        <ul class="sidebar navbar-nav collapsed">
            <li class="nav-item">
                <a class="nav-link" href="/report/comptable" title="Comptable" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-fw fa-chart-area text-primary"></i>
                    <span>Comptable</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report/bilan" title="Bilan facturation" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-fw fa-chart-bar text-success"></i>
                    <span>Bilan Facturation</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report/bilanAvoir" title="Bilan Avoir" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-fw fa-chart-pie text-danger"></i>
                    <span>Bilan Avoir</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report/comptablePro" title="Comptable pro" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-fw fa-chart-line text-warning"></i>
                    <span>Comptable pro</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report/comptableProExpedition" title="Comptable Routine expedition" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-fw fa-clock text-secondary"></i>
                    <span>Routine Expéditions</span>
                </a>
            </li>
            <li class="nav-item js-reduce d-none">
                <a class="nav-link" href="" title="Réduire">
                    <i class="fas fa-fw fa-caret-left text-secondary"></i>
                    <span>Réduire</span>
                </a>
            </li>
            <li class="nav-item js-expand">
                <a class="nav-link" href="" title="Agrandir" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-fw fa-caret-right text-secondary"></i>
                </a>
            </li>
        </ul>
        <div id="content-wrapper">
            {% block body %}{% endblock %}
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin.min.js"></script>
    <script src="/assets/js/modetic.js"></script>

    <!-- Demo scripts for this page-->
    {% block javascripts %}{% endblock %}

    </body>

</html>
