{% extends 'base.html.twig' %}

{% block title %}Modetic - Rapport comptable{% endblock %}

{% block body %}

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Rapports</a>
            </li>
            <li class="breadcrumb-item active">Accueil</li>
        </ol>

    </div>

{% endblock %}
